.mat-table {
    width: 100%;
    background-color: RGBA(255, 255, 255, 0);
}

.mat-paginator {
    background-color: RGBA(255, 255, 255, 0);
}

.mat-form-field {
    background-color: RGBA(255, 255, 255, 0);
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
    color: black;
}

.mat-cell {
    width: 30%;
    text-align: left;
}

th, td {
    width: 20vw;
}

.table-bg {
    background-color: RGBA(255, 255, 255, 0);
}

.mat-card {
    background-color: RGBA(255, 255, 255, 0);
}
