.container {
    max-height: 60vh;
    overflow: auto;
}

.mat-table {
    width: 100%;
    background-color: RGBA(245, 222, 179, 0.0);
}

.mat-paginator {
    background-color: RGBA(245, 222, 179, 0);
}

.mat-form-field {
    background-color: RGBA(245, 222, 179, 0);
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
    color: black;
}

.mat-cell {
    width: 30%;
    text-align: left;
}

th, td {
    width: 15vw;
}
