<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <a routerLink="{{Paths.home}}"><img [defaultImage]="logoMin" [lazyLoad]="logo" class="logo"></a>

      <button mat-button routerLink="{{Paths.catalog}}" routerLinkActive="activeLink">Catalog</button>
      <button mat-button routerLink="{{Paths.contact}}" routerLinkActive="activeLink">Contact Us</button>
      <button mat-button routerLink="{{Paths.faq}}" routerLinkActive="activeLink">FAQ</button>
    </mat-toolbar>
    <div [defaultImage]="backgroundMin" [lazyLoad]="background" class="background">
      <div class="page" role="main">
        <!-- <div class="content">
          <router-outlet></router-outlet>
        </div> -->
        <mat-card class="content">
          <router-outlet></router-outlet>
        </mat-card>
      </div>
      <footer>
        &copy; 2021 - Massey Foods
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>