.background {
    background-size: 100% 100%;
    display: flex;
    flex: auto;
    flex-direction: column;
}

.page {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25px;
}

.content {
    display: flex;
    max-width: 70%;
    max-height: 90%;
    overflow-y: auto;
}

.logo {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.sidenav-container {
    height: 100%;
}

.mat-sidenav-content {
    display: flex;
    flex-direction: column;
}

footer {
    margin-left: 5px;
    margin-bottom: 5px;
}
