.background {
    background-size: 100% 100%;
    display: flex;
    flex: auto;
    flex-direction: column;
}

.page {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25px;
}

.content {
    display: flex;
    max-width: 60%;
    max-height: 90%;
    overflow-y: auto;
    // background-color: RGBA(96, 125, 139, 0.5);
    background-color: RGBA(245, 222, 179, .5);
}

.logo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.sidenav-container {
    height: 100%;
}

.mat-sidenav-content {
    display: flex;
    flex-direction: column;
}

footer {
    margin-left: 5px;
    margin-bottom: 5px;
    color: white;
}

a {
    color: white;
}

.mat-drawer-container {
    color: black;
}

.activeLink {
    color: wheat;
}
