h1 {
    
}

a#logo {
    background-image: url(../assets/logo.png);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.sidenav-container {
    height: 100%;
}

.mat-sidenav-content {
    display: flex;
    flex-direction: column;
}

.content {
    margin: 25px;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
    margin-left: 15px;
}
