<h1>How do I place an order?</h1>
<h2>Call <a href="tel:+19123987950">1-912-398-7950</a> or email <a href="mailto:masseyfoods912@yahoo.com">masseyfoods912@yahoo.com</a>.</h2>
<hr>
<h1>What are acceptable forms of payment?</h1>
<h2>We accept cash, personal checks, credit and debit cards, as well as Snap and EBT.</h2>
<hr>
<h1>Are there any shipping and handling costs?</h1>
<h2>None! Orders are delivered to your home at no extra charge.</h2>
<hr>
<h1>How far do you ship?</h1>
<h2>We deliver to anywhere within 100 miles of Savannah Georgia.</h2>
<hr>
<h1>How much does a steak really cost?</h1>
<h2>Most shoppers think it's the cost per pound, but they're wrong according to the U.S. Department of Agriculture. The key word here is "Eat". The real cost of beef is the cost per serving. The fat and bone you trim off before cooking or leave on your plate is part of the total beef cost, but the indicator of eating value per dollar is the cost per edible portion.</h2>
<hr>
<h2>Our customers are important to us! That's why we at Massey Foods, strive to create a loyal, positive relationship, while educating you about our product and its quality. We welcome your questions, ideas and comments!</h2>
<h2>You can easily reach us via our <a routerLink="../{{Paths.contact}}">contact information</a></h2>
