<h1>How do I place an order</h1>
<h2>Call <a href="tel:+19123987950">1-912-398-7950</a> or email <a href="mailto:masseyfoods@yahoo.com">masseyfoods@yahoo.com</a>.</h2>
<hr>
<h1>Acceptable Forms of Payment</h1>
<h2>Cash | Personal Checks | Credit/Debit | Snap/EBT</h2>
<hr>
<h1>Shipping and Handling Costs</h1>
<h2>None! Orders are delivered to your home at no extra charge.</h2>
<hr>
<h1>How Far Do You Ship</h1>
<h2>We deliver to anywhere within 100 miles of Savannah Georgia.</h2>
<hr>
<h1>How Much Does a Steak Really Cost</h1>
<h2>What's the cost of the beef you eat? Most shoppers think it's the cost per pound, but they're wronga ccording to the U.S. Department of Agriculture. The key word here is EAT. The real cost of beef is the cost per serving. The fat and the bone you time off before cooking, or leave on your plate is a part of the total beef cost, but the indicator of eating value per dollar is the cost per edible portion.</h2>
<hr>
<h2>Our customers are important to us! That's why we at Massey Foods, strive to create a loyal, positive relationship, while educating you about our product and its quality. We welcome your questions, ideas and comments!</h2>